$itemHeight: 40px;

.container {
    max-height: var(--dk-command-palette-height);
    width: 100%;

    .first-row {
        display: grid;
        grid-template-rows: 5px $itemHeight 5px;
        grid-template-columns: 48px 1fr 10px;
        background-color: rgba($color: #000000, $alpha: 0.0);

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column-start: 1;
            grid-row-start: 2;

            clr-icon {
                color: var(--dk-typography-understated);
            }
        }

        .icon:hover {
            cursor: pointer;
        }

        .command-input {
            background-color: rgba($color: #000000, $alpha: 0.0);
            color: var(--dk-typography-default);
            grid-column-start: 2;
            grid-row-start: 2;
            border: 0;
            outline: none;
        }

        .command-input:hover:not(:focus) {
            cursor: pointer;
        }
    }

    .expanded-rows {
        padding: 5px 0;
        max-height: var(--dk-command-palette-expanded-rows-max-height);
        overflow: auto;

        .queried-row {
            padding: 0 10px;
            color: var(--dk-typography-understated);
            flex: 0 0 var(--dk-command-palette-row-height);
            line-height: var(--dk-command-palette-row-height);
            user-select: none;
            cursor: pointer;
            text-decoration: none;
        }

        .queried-row:hover {
            background-color: var(--dk-row-hover);
        }

        .quick-select-row {
            background-color: var(--dk-row-selection);
        }

        .quick-select-row:hover {
            background-color: var(--dk-row-selection);
        }
    }
}

.container:focus-within {
    .expanded-rows {
        display: flex;
        flex-direction: column;
    }
}

.container:not(:focus-within) {
    .expanded-rows {
        display: none;
    }
}
