@import 'mixins';

$group-margin: 10px;

:host {
    height: 100%;
    display: flex;
    background-color: #aaa;

    .left-area, .right-area {
        flex: 1 1 100%;
    }

    .vertical-areas {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;

        .top-area, .bottom-area {
            flex: 1 1 100%;
        }
    }
}
