@import 'colors.scss';

$tab-margin: 4px;

:host {
    display: flex;
    flex-direction: row;
}

.nav-item {
    flex: 1 1;
    margin-left: $tab-margin;
    margin-right: $tab-margin;
    margin-bottom: 2px;

    .nav-link, .nav-link:hover {
        user-select: none;
        box-shadow: none;
        transition: none;
    }

    .nav-link:focus {
        outline: none;
    }
}

.nav-item-active, .nav-item-active:hover {
    box-shadow: 0 -3px 0 $dk-highlight-color inset;
    transition: box-shadow .2s ease-in;
}

.nav-item-inactive:hover {
    box-shadow: 0 -3px 0 $dk-highlight-color-transparent inset;
    transition: box-shadow .2s ease-in;
}

.close-button {
    padding-left: $tab-margin;
    cursor: pointer;
    line-height: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.divider {
    display: flex;
    align-items: center;
    flex: 0 0 1px;
    padding-left: 4px;
    width: 1px;
}

.divider:after {
    content: '';
    height: 65%;
    border-right: 1px solid #bbb
}
