$nav-background-color: #eee;
$border-radius: 5px;

:host {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.nav {
    flex: 0 0;
    background-color: $nav-background-color;
    border-left: solid 1px $nav-background-color;
    border-right: solid 1px $nav-background-color;
    border-top: solid 1px $nav-background-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.content {
    flex: 1 0;
    height: 100%;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}
