@import 'colors.scss';

$tab-margin: 4px;
$tab-width: 115px;

:host {
    display: flex;
    flex-direction: row;
}

.nav-item {
    flex: 1 1;
    display: flex;
    margin-left: $tab-margin;
    margin-right: $tab-margin;

    .nav-link {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .nav-link, .nav-link:hover {
        user-select: none;
        box-shadow: none;
        transition: none;
    }

    .nav-link:focus {
        outline: none;
    }

    .close-button {
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: $tab-margin;
        cursor: pointer;
        line-height: 1.5rem;
        height: 1.5rem;
        display: inline-block;
    }
}

.nav-item-active, .nav-item-active:hover {
    box-shadow: 0 -3px 0 $dk-highlight-color inset;
    transition: box-shadow .2s ease-in;
}

.nav-item-inactive:hover {
    box-shadow: 0 -3px 0 $dk-highlight-color-transparent inset;
    transition: box-shadow .2s ease-in;
}

.divider {
    display: flex;
    align-items: center;
    flex: 0 0 1px;
    padding-left: 4px;
    width: 1px;
}

.divider:after {
    content: '';
    height: 65%;
    border-right: 1px solid #bbb
}

.add-icon {
    height: 100%;
    width: 16px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}
