/* You can add global styles to this file, and also import other style files */

@import 'mixins';

html, body {
    @include fill;
    box-sizing: border-box;
    display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
}
