@import 'mixins.scss';

:host {
    @include fill;

    display: flex;
    flex-direction: column;
}

dk-masthead {
    flex: 0 0 60px;
}

.content {
    flex: 1 1 auto;
    display: flex;
}

dk-dock {
    padding: 8px;
}
