a {
    cursor: pointer;
    user-select: none;
}

.content {
    .nav-link {
        color: var(--dk-typography-default);
    }

    .nav-link:hover {
        background-color: var(--dk-row-hover);
        color: var(--dk-typography-default);
    }
}
